# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
[Ll]ibrary/
sysinfo.txt
*.stackdump

Assets/Meshes.meta
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db

# Personal Playground Scenes

Assets/sjl.unity
Assets/sjl.unity.meta

# Latex garbage
paper/*.aux
paper/*.fls
paper/*.log
paper/*.toc
paper/*.fdb_latexmk
paper/*.zip
paper/*.bbl
paper/*.blg
paper/*.bcf
paper/*.run.xml
paper/paper.out
paper/paper.pdf
